<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>822285326152-eetj1pcaadrpu4c1cpquvph0fuso7frc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822285326152-eetj1pcaadrpu4c1cpquvph0fuso7frc</string>
	<key>API_KEY</key>
	<string>AIzaSyAYTezJ6oNiYrMHfCYf491276sNliTULNs</string>
	<key>GCM_SENDER_ID</key>
	<string>822285326152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JSuzuki.TimeTrack</string>
	<key>PROJECT_ID</key>
	<string>timetrack-8c82e</string>
	<key>STORAGE_BUCKET</key>
	<string>timetrack-8c82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:822285326152:ios:20d3541f277736c4</string>
	<key>DATABASE_URL</key>
	<string>https://timetrack-8c82e.firebaseio.com</string>
</dict>
</plist>